.homes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 70px;
  width: 40%;
  margin-left: 350px;
}

.homes-info{
  display: flex;
  flex-direction: column;
  width:100px;
  justify-content: center;
  align-items: center;
}

.apar-info input{
  width:300px;
  height: 50px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
  padding-left: 10px;
  margin-top: 5px;
}
.apar-info button{
  width:320px;
  height: 50px;
  margin-top: 20px;
  background-color: rgb(245, 158, 211);
}
.apar-info button:hover{
  cursor: pointer;
}
.showing{
  width: 100%;
  height: 50px;
  margin-top: 30px;
  background-color: rgb(245, 158, 211);
  cursor: pointer;
  margin-right: 2220px;
}

.houses{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.butto{
  margin-top: 10px;
  margin-left: 45%;

}

/* about */
